/* 카드 가로로 배치 */
.row-md-3 {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  line-height: 1.5;
  color: #5a5a5a;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 15px;
  box-sizing: inherit;
  min-height: 1px;
  min-width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  float: left;
  width: 25%;
  display: flex;
}

.card {
  margin: 10px 10px;
}
