body {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#nickname-box {
  padding: 20px;
  width: 650px;
  height: 120px;
  text-align: center;
  background-color: transparent;
  border-radius: 10px;
  margin: 30px 0;
}

#user-nickname {
  font-size: 20px;
  font-weight: bold;
}

#user-nickname {
  font-size: 20px;
  font-weight: bold;
}

.mb-3 {
  margin-bottom: 0.5em;
}

.form-label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.2em;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 0.9em;
}

.btn-primary {
  margin-top: 30px;
  color: #fff;
  background-color: #000000;
  width: 100px;
  height: 40px;
  box-shadow: 0 4px 8px rgb(0 79 248 / 36%);
}

#main-content .tour-item {
  width: calc(25% - 20px);
  height: auto;
  border: 1px solid black; /* 테두리 설정 */
  box-shadow: 2px2px6px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px; /* 아래 여백 설정 */
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 20pt;
  text-align: center;
  padding: 10px;
  float: left;
  background-color: #0074f947;
  box-shadow: 0 4px 8px rgb(0 0 0 / 36%);
}

#main-content-diary .diary-item {
  width: calc(25% - 20px);
  height: auto;
  border: 1px solid black; /* 테두리 설정 */
  box-shadow: 2px2px6px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px; /* 아래 여백 설정 */
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 15pt;
  text-align: center;
  padding: 10px;
  float: left; /* 카드를 왼쪽으로 정렬 */
  background-color: #0074f947;
  box-shadow: 0 4px 8px rgb(0 0 0 / 36%);
}

#main-content .tour-item p,
#main-content-diary .diary-item p {
  text-align: center; /* 제목 가운데 정렬 */
}

#main-content .tour-item img {
  width: 100%;
  height: 200px;
  cursor: pointer;
  object-fit: cover; /* 이미지가 카드 크기에 맞게 조절되도록 설정 */
  margin-bottom: 10px; /* 이미지와 좋아요 버튼 사이의 간격 설정 */
}

#main-content-diary .diary-item img {
  width: 100%;
  height: 300px;

  /* margin-bottom: 10px; */
}

#main-content-diary .diary-item img {
  width: 100%;
  height: 200px;
  cursor: pointer;
  object-fit: cover;
  margin-bottom: 10px;
}

#main-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  text-align: center;
  margin-top: 20px;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

#main-content-diary {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  text-align: center;
  margin-top: 20px;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

#updateProfileButton {
  font-size: 14px;
  width: 100%;
  max-width: 150px;
  display: block;
  margin: 10px auto;
}

h3 {
  background-color: rgb(0, 0, 0);
  border: 1px solid rgb(68, 0, 255);
  padding: 3px;
  width: 200px;
  display: block;
  border-radius: 10px;
  text-align: center; /* 텍스트를 중앙 정렬합니다. */
  margin: 0 auto; /* 좌우 여백을 자동으로 조절하여 요소를 가운데 정렬합니다. */
  font-size: 20px;
  color: white;
}

.title-element {
  margin: 0;
  padding: 0;
}

footer,
div.copyright {
  margin-bottom: -22px;
}

#usernickname {
  white-space: nowrap;
  display: inline-block;
}

#usernickname {
  white-space: nowrap;
  display: inline-block;
}
