body {
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
}

.sidebar {
  width: 200px;
  border-right: 1px solid #ccc;
  padding: 20px;
}

.day-button,
.edit-button,
.save-button {
  margin-top: 10px;
  display: block;
  width: 100%;
  padding: 10px;
  color: #000;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 30px; /* 테두리를 둥글게 만듭니다. */
  cursor: pointer;
}
.day-button:hover,
.edit-button:hover,
.save-button:hover {
  background-color: #007bff;
  color: #fff;
}
